body
{
	margin: 0;
	padding: 0;
	font-family: sans serif;
	background: silver;
}
.container
{
	position: relative;
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	min-height: 400px;
}